@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.main-container {
    box-shadow: 5px 5px 10px 0px;
    background-color: rgb(77, 77, 77);
    width: 460px;
    height: 520px;
    padding: 18px;
    border-radius: 5px;
}

.display-container {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(233, 233, 233);
    box-shadow: inset 2px 2px 2px;
}

.display {
    font-family: 'Roboto Mono', monospace;
    height: 80px;
    flex-grow: 1;
    font-weight: 600;
    font-size: 55px;
    text-shadow: 1px 1px;
    margin: 0 10px;
}

#operator-display {
    width: 40px;
    text-align: start;
}

#digit-display {
    text-align: end;
}

.button-container {
    margin: 10px 0;
}

.number-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    height: 72px;
    width: 100px;
    border-radius: 5px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 3px;
    cursor: pointer;
}

.button-pressed {
    box-shadow: inset 1px 1px;
}

.clear-button {
    background-color: cornflowerblue;
}

.number-button {
    background-color: lightgreen;
}

.operator-button {
    background-color: coral;
}

.no-button {
    background-color: rgb(77, 77, 77);
    pointer-events: none;
    border: none;
}

#equals {
    background-color: coral;
}

#decimal {
    background-color: lightgreen;
}